@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Roboto';
}

a:hover {
    color: purple;
    text-decoration:none;
}
nav {
    background-color: mediumaquamarine;
}

nav > a {
    color: white;
}

h1 {
    color: rgb(91, 7, 91);
}

h2 {
    color: rgb(91,7,91);
    font-size: 20px;
}

a {
    text-decoration:none;
}

body {
    margin: 0;
    padding: 0;
}

main {
    padding: 16px;
}

.recipe-items {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    column-gap: 10px;
    justify-self: center;
}

.recipe-items a {
    color: rgb(72, 158, 129);
    font-size: 15px;
}

.rating {
    font-size: 12px;
}

.recipe-item:hover {
    box-shadow: 0 2px 4px 2px rgba(102,205,170,0.4);
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}

img {
    height: 200px;
}

thead {
    font-weight: 900;
    font-size: 17px;
}

footer {
    height: 50px;
    position: static;
    bottom: 0px;
    background-color: rgb(72, 158, 129);
    padding: 20px;
}

tr:nth-child(even) {
        background-color: rgba(102,205,170,0.4);
      }
